<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{dentistalista.titulo}">Lista de Dentistas</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-3">
    <h2 th:text="#{dentistalista.titulo}">Lista de Dentistas</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th th:text="#{dentistalista.nome}">Nome</th>
            <th th:text="#{dentistalista.cro}">CRO</th>
            <th th:text="#{dentistalista.especialidade}">Especialidade</th>
            <th th:text="#{dentistalista.telefone}">Telefone</th>
            <th th:text="#{dentistalista.editar}">Editar</th>
            <th th:text="#{dentistalista.excluir}">Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dentista : ${dentistas}">
            <td th:text="${dentista.nome}"></td>
            <td th:text="${dentista.cro}"></td>
            <td th:text="${dentista.especialidade}"></td>
            <td th:text="${dentista.telefone}"></td>
            <td><a th:href="@{/dentista/atualizar/{id}(id=${dentista.id})}" th:text="#{dentistalista.editar}">Editar</a></td>
            <td><a th:href="@{/dentista/deletar/{id}(id=${dentista.id})}" th:text="#{dentistalista.excluir}">Excluir</a></td>
        </tr>
        </tbody>
    </table>
    <p th:if="${#lists.isEmpty(dentistas)}" th:text="#{dentistalista.vazio}">Nenhum dentista cadastrado.</p>
    <br/>
    <a th:href="@{/dentista/cadastrar}">
        <button type="button" class="btn btn-success" th:text="#{dentistalista.botaocadastro}">Cadastrar Novo Dentista</button>
    </a>
</div>

</body>
</html>
